<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "lite blog", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Add", new_post_path %></li>
        <li><%= link_to "Show", posts_path %></li>

         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><%= link_to "Profile", '#' %></li>
            <li><%= link_to "Settings", '#' %></li>
            <li><%= link_to "Log out", '#' %></li>
          </ul>
        </li>
        
      </ul>
    </nav>
  </div>
</header>

<% if user_signed_in? %>

  <%= link_to('Edit registration', edit_user_registration_path) %>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>

<% else %>

  <%= link_to('Register', new_user_registration_path)  %>
  <%= link_to('Login', new_user_session_path)  %>

<% end %>